<?php
$id = null;
/** @var $details */
foreach ( $details as $row ) {
	?>
	<hr/>
	<h1 class="title"><?php echo $row["title"] ?></h1>
	<p class="dateAddedPost">Added: <?php echo $row["date_added"] ?></p>
	<p class="post"><?php echo $row["post"] ?></p>
	<p class="tags">Tags: <?php echo $row["tags"] ?></p>
	<?php
	$id = $row['post_id'];
}
?>
<h2>Comments: </h2>
<?php
/** @var $comments */
foreach ( $comments as $row ) {
	?>
	<hr/>
	<h4 class="name">Name: <?php echo $row["name"] ?></h4>
	<p class="email">Email: <?php echo $row["email"] ?></p>
	<p class="comment">Comment:  <?php echo $row["comment"] ?></p>
	<p class="dateAddedComment">Date Added: <?php echo $row["date_added"] ?></p>
<?php
}
?>
<a href="<?php echo $this->url( 'blog/default', array(
	'controller' => 'blog',
	'action'     => 'comment',
	'id'         => $id,
) ); ?>">Post new Comment</a>
