<a href="<?php echo $this->url( 'blog/default', array( 'controller' => 'blog', 'action' => 'create' ) ); ?>">Create a new post</a>
<?php
/** @var $rowset */
foreach ( $rowset as $row ) {
	?>
	<hr/>
	<a href="<?php echo $this->url( 'blog/default', array(
		'controller' => 'blog',
		'action'     => 'details',
		'id'         => $row['post_id']
	) ); ?>"><h1 class="title"><?php echo $row["title"] ?></h1></a>
	<p class="dateAdded">Added: <?php echo $row["date_added"] ?></p>
	<p class="post"><?php echo $row["post"] ?></p>
	<p class="tags">Tags: <?php echo $row["tags"] ?></p>
	<a href="<?php echo $this->url( 'blog/default', array(
		'controller' => 'blog',
		'action'     => 'update',
		'id'         => $row['post_id']
	) ); ?>">Edit</a>
	<a href="<?php echo $this->url( 'blog/default', array(
		'controller' => 'blog',
		'action'     => 'delete',
		'id'         => $row['post_id']
	) ); ?>" onclick="return confirm('Are you sure you want to delete this post ?')">Delete</a>
<?php
}
?>